<div class="=row">
  <div class="col-md-5"></div>
  <div class="col-md-4"><h2>{{pageTitle}}</h2></div>
  <div class="col-md-3"></div>
</div>
<br><br><br><br>  
<table class="table table-striped">
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Department</th>
      <th>Salary</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let emp of employees">
      <td>{{emp.firstName}}</td>
      <td>{{emp.lastName}}</td>
      <td>{{getDepartmentName(emp.department)}}</td>
      <td>{{emp.salary | currency:'USD' : symbol : '1.2-2'}}</td>
      <td><a title="Edit" [routerLink]="['/emp-form',emp.id]"><span class="glyphicon glyphicon-edit"></span></a></td>
      <td><a title="Delete" (click)="deleteEmployee(emp.id,emp.firstName)"><span class="glyphicon glyphicon-trash"></span></a></td>
    </tr>
  </tbody>
</table>

<button class="btn btn-primary" [routerLink]="['/emp-form']">Add New Employee</button> 
  